
body{
    background-color: white;
    height:100%;
    margin:0;
  }
 
  #middleFlex{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 427px;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 37%;
    align-content: space-between;
    height: 165px;
  }
 #search{
   
   width: 100%;
 }
  input{
    width: 100%;
  }
  #navbar{
    display: flex;
    flex-direction: row;
    height : 30px;
    justify-content: space-between;
    margin-top: 13px ;
    
  }
  #spacer{
    width : 600px;
    background-color: transparent;
  }
  .nav-items{
    width: 50px ;
    height: 30px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    
  }
  #square{
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-position: -132px -38px;
    background-position-x: -126px;
    background-position-y: -44px;
    background-size: 528px 68px;
    background-color: transparent;
    height: 25px ;
    
  }
  #left-nav{
   display: flex;
   flex-direction: row;
   width: 200px;
   justify-content:flex-start;
   padding: 15px 0px 0px 25px;

  }
  #right-nav{
   display: flex;
   flex-direction: row;
   width:400px;
   justify-content: flex-end;
   padding: 15px 25px 0px 0px; 
  }